*{
    margin: 0;
    border: border-box;
    font-family: sans-serif;
}

/******************** Navigation var *************************/
.navigation{
    height: 70px;
    background-color: rgb(241, 23, 23);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height: 65px;
    width: 120px;
}
.logo{
    background-image: url('image/final-logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    height: 65px;
    width: 120px;
}
.navigation a{
    text-decoration: none;
    color: rgb(248, 244, 244);
    font-weight: 550;
}

/******************** Container part *************************/

.container{
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
}
.container-1{
    margin-top: 130px;
}
.container-1 p{
    margin-top: 30px;
}
.container-1 button{
    height: 30px;
    margin-top: 30px;
    background-color: red;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
}
.container-1 button:hover{
    background-color: rgb(17, 16, 16);
    
}
.container-1 button a{
    text-decoration: none;
    color: white;
}
.container-pic{
    margin-top: 20px;
}
#slideshow img{
    height: 400px;
    width: 400px;
}

/*------------ Request Post For Blood ----------------*/
.request-post{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(252, 252, 252);
}
.request-post h2{
    color: red;
}
.request-post a{
    text-decoration: none;
    font-weight: 550;
    color: black;
}
.all-post{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    
}

.post-page{
    margin: 20px;
    padding-top: 15px;
    background-color:transparent;
    border: 1px solid rgb(63, 59, 59);
    border-radius: 6px;
    height: 400px;
    width: 300px;
    
}

.post-page .info{
    text-align: left;
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
    height: 50px;
    
    background-color: white;
    line-height: 25px;
}
.info p{
    margin-left: 10px;
    font-weight: 550;
}
.info1 p{
    font-weight: normal;
}

/*------------CSS for Search Donators----------------*/
.search-donators{
    height: 300px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3eeee;
    border-radius: 6px;
}
.search-area{
    height: 25px;
    width: 150px;
    border-radius: 8px;
}
.bd-group p{
    margin-bottom: 8px;
}
.search button{
    height: 40px;
    width: 100px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-weight: 550;
    border: none;
    transition: 0.5s;
}
.search button:hover{
    background-color:black;
    cursor: pointer;
    transform: 5s;
    
}
.totaldonor{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.totaldonor button{
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    transition: 0.5s;
}
.totaldonor button:hover{
    background-color: black;
    cursor: pointer;
}
.totalhead{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 75%;
    background-color: red;
    color: white;
    margin-top: 20px;
}
.donors{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/*-----------user-card ---------------*/
.profile{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
    height: 150px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}
.information{
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
.user{
    height: 100px;
    width: 100px;
}
.user-icon{
    background-image: url('image/user.png');
    height: 100%;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;

}

/* --------- Compatible---------------*/
.compatible-blood h2{
    text-align: center;
    margin-top: 40px;
    color:red;
}
.compatible{
    height: 450px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 150px;
}
#Bloods {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #Bloods td, #Bloods th {
    border: 1px solid #dad4d4;
    padding: 8px;
  }
  
  #Bloods tr:nth-child(even){background-color: #dfdada;}
  
  #Bloods tr:hover {
    background-color: #ddd;
    color: rgb(247, 4, 4);
}

#table_head{
    background-color: red;
    color: white;
}


/*------------ quote section ----------------*/
.quote-sec{
    display: flex;
    align-items: center;
    justify-content: center;

}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
    margin-top:20px ;
    margin-bottom: 20px;
    height: 150px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 4px;
    box-shadow: 3px 5px 5px 3px #cfcece;
}



/*------------ footer section ----------------*/

.footer-1{
    height: 250px;
    background-color: rgb(240, 60, 60);
    color: rgb(243, 243, 243);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-1 h3{
    padding-bottom: 10px;
}
.advantage h4 a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}
.about{
    width: 400px;
}

.important-link a{
    text-decoration: none;
    color: rgb(238, 238, 238);
    line-height: 30px;
}

.footer-2{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(22, 21, 21);
    color: rgb(202, 192, 192);
}
.footer-2 h3{
    padding-bottom: 10px;
}
.address{
    text-align: center;
    line-height: 25px;
}
.msg textarea{
    background-color: rgb(29, 29, 37);
    border-radius: 5px;
}
.msg button{
    background-color: rgb(6, 110, 110);
    color: white;
    height: 30px;
    border-radius: 5px;
    transition: 0.5s;
    border: 0.5px solid gray;
    cursor: pointer;
}
.msg button:hover{
    background-color: rgb(75, 72, 72);
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    background-color: rgb(13, 13, 20);
    height: 40px;
    color: rgb(238, 238, 238);
}